[submodule "public/amtl"]
	path = public/amtl
	url = https://github.com/alliedmodders/amtl
	shallow = true
[submodule "sourcepawn"]
	path = sourcepawn
	url = https://github.com/alliedmodders/sourcepawn
	shallow = true
[submodule "hl2sdk-manifests"]
	path = hl2sdk-manifests
	url = https://github.com/alliedmodders/hl2sdk-manifests.git
[submodule "public/safetyhook"]
	path = public/safetyhook
	url = https://github.com/alliedmodders/safetyhook
[submodule "extensions/mysql/openssl/lib"]
	path = extensions/mysql/openssl/lib
	url = https://github.com/openssl/openssl
	shallow = true
[submodule "extensions/mysql/mariadb/connector"]
	path = extensions/mysql/mariadb/connector
	url = https://github.com/mariadb-corporation/mariadb-connector-c
	shallow = true