[submodule "public/amtl"]
	path = public/amtl
	url = https://github.com/alliedmodders/amtl
	shallow = true
[submodule "sourcepawn"]
	path = sourcepawn
	url = https://github.com/alliedmodders/sourcepawn
	shallow = true
[submodule "extensions/curl/curl-src"]
	path = extensions/curl/curl-src
	url = https://github.com/curl/curl
	shallow = true
[submodule "extensions/curl/mbedtls-src"]
	path = extensions/curl/mbedtls-src
	url = https://github.com/Mbed-TLS/mbedtls
	shallow = true
