cache: apt
language: c
compiler:
  - clang
before_install:
# Turn off local services started by default (contributes to OOM on weaker machines).
  - sudo df -h
  - sudo dpkg-query -l
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop
  - free -m
  - df -h
  - sudo apt-get remove consolekit landscape-client update-notifier-common update-motd policykit-1 mysql-5.5 postgresql-9.1 chromium-browser gcc-4.6-base java-common x11-common
  - free -m
  - df -h
# Add external repositories and do system updates
  - sudo apt-get update -qq
  - sudo apt-get install -y python-software-properties
  - sudo add-apt-repository --yes ppa:ubuntu-toolchain-r/ppa
  - sudo add-apt-repository ppa:ubuntu-toolchain-r/test -y
  - echo "deb http://llvm.org/apt/precise/ llvm-toolchain-precise-3.5 main" | sudo tee --append /etc/apt/sources.list
  - echo "deb-src http://llvm.org/apt/precise/ llvm-toolchain-precise-3.5 main" | sudo tee --append /etc/apt/sources.list
  - wget -O - http://llvm.org/apt/llvm-snapshot.gpg.key | sudo apt-key add -
install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq g++-4.8
  - sudo apt-get install -y g++-multilib libc6-dev-i386 lib32stdc++6 lib32z1-dev clang-3.5
  - sudo apt-get update -qq
  - free -m
  - df -h
  - sudo apt-get clean
  - sudo apt-get autoremove
  - free -m
  - df -h
before_script:
  - sudo rm -Rf /var/ramfs/*
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90
  - alias git="sync && git"
  - CHECKOUT_DIR=$PWD && cd .. && $CHECKOUT_DIR/tools/checkout-deps.sh && cd $CHECKOUT_DIR
script:
  - mkdir build && cd build
  - CC=clang-3.5 CXX=clang-3.5 python ../configure.py --enable-optimize --sdks=episode1,tf2,l4d2,csgo,dota
  - ambuild