#include <windows.h>
#if defined WIN32 || defined _WIN32 || defined __WIN32__
#  include <winver.h>
#else
#  include <ver.h>
#endif
#include "svn_version.h"

AppIcon ICON "pawn.ico"

/*  Version information
 *
 *  All strings MUST have an explicit \0. See the Windows SDK documentation
 *  for details on version information and the VERSIONINFO structure.
 */

#define VERSIONNAME          "smcomp.exe\0"
#define VERSIONDESCRIPTION   "SourcePawn Compiler\0"
#define VERSIONPRODUCTNAME   "smcomp\0"

VS_VERSION_INFO VERSIONINFO
FILEVERSION    SVN_FILE_VERSION
PRODUCTVERSION SVN_FILE_VERSION
FILEFLAGSMASK  0x0000003FL
FILEFLAGS      0
#if defined(WIN32)
  FILEOS       VOS__WINDOWS32
#else
  FILEOS       VOS__WINDOWS16
#endif
FILETYPE       VFT_DLL
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "(C)1998-2006 ITB CompuPhase, AlliedModders LLC\0"
            VALUE "FileDescription",  VERSIONDESCRIPTION
            VALUE "FileVersion",      SVN_FULL_VERSION
            VALUE "InternalName",     VERSIONNAME
            VALUE "LegalCopyright",   "(C)1998-2006 ITB CompuPhase, AlliedModders LLC\0"
            VALUE "OriginalFilename", VERSIONNAME
            VALUE "ProductName",      VERSIONPRODUCTNAME
            VALUE "ProductVersion",   SVN_FULL_VERSION
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
